@charset "EUC-KR";

* {
	font-family: "나눔스퀘어";
}

#contents {
	width: 1200px;
	height: 700px;
	margin-left: 360px;
}

.sf_wp{
width: 1920px;
height: 700px;
text-align:  center;
}


#container {
	width: 1200px;
	margin: 0 0 0 100px;
}

#camimg {
	width: 300px;
	height: 300px;
}

#com {
	width: 300px;
	float: left;
	margin: 50px 0 0 20px;
	border: 1px solid #cbcbca;
}

.p1 {
	text-align: center;
	border-top: 1px solid #cbcbca;
	width: 100%;
	height: 60px;
	font-size: 15px;
	font-weight: bold;
	padding-top: 30px;
}

.p2 {
	text-align: center;
	width: 100%;
	height: 60px;
	font-size: 20px;
}

#mainP {
	font-size: 45px;
	font-weight: bold;
	margin-top: 70px;
}
.sf_span_1{
color:#4364ae;
}

table {
	width: 1000px;
	margin: 0 auto;
}

#tb1, #tr1, #pageList {
	border-collapse: collapse;
}

#pageList {
	text-align: center;
}

#page {
	width: 7px;
	height: 7px;
	margin-right: 10px;
	padding: 2px;
	border: 1px solid white;
	background-color: #5CD1E5;
	display: inline-block;
	border-radius: 50%;
	margin-top: 30px;
}