@charset "UTF-8";


	.page {
		text-align: center;
		margin-bottom: 20px;
	}
	
	.page a {
		text-decoration: none;
		color: black;
		font-size: 20px;
	}
	
	#donaBtn {
      position: fixed;
      bottom: 50px;
      right: 50px;
      opacity: 0.7;
      width: 180px;
      height: 100px;
    }
    



/* customer : 메인에 나오는 사진 div */
.customer {
	background-image: url(../image/donation.jpeg);
	background-size: 100% 100%;
	height: 300px;
	padding-top: 200px;
	text-align: center;
}
.customer h2 {
	padding-bottom: 20px;

}

.customer input:focus {
	outline: none;
}

/* customer안에 있는 input:t */
#cctxt {
	width: 490px;
	height: 30px;
	padding: 10px;
}
/* customer안에 있는 input:b */
#selbt {
	width: 40px;
	height: 40px;
	background-color: white;
	size: 50% 50%;
}

.tx {
    display:inline-block;
}
.imgBt {
	display:inline-block;
    vertical-align: middle;
    margin-left: -55px;

}

/* boardBack : 사진 div에 살짝 겹쳐진 본 내용이 들어가는 div */
.boardBack {
	background-color: white;
	margin-top: -70px;
	margin-left: 360px;
	padding-top: 40px;
	width: 1200px;
}
/* 내용이 들어가는 div 안에 리스트  */
.boardBack ul {
	margin-left: 100px;
}

/* 리스트 a 태그 */
.bb {
	text-decoration: none;
	font-size: 20px;
	color: black;
}
/* 리스트 a 태그 */
.bb_li {
	border: 1px solid #BDBDBD;
	border-right: hidden;
	width: 180px;
	height: 45px;
	text-align: center;
	padding-top: 20px;
	display: inline;
	float: left;
}

#bb1_li {
	border-right: 1px solid #BDBDBD;
}

table {
	width: 1000px;
	margin: 0 auto;
	border-left: none;
	border-right: none;
	border-collapse: collapse;
	margin-bottom: 20px;
}

tr {
	border-bottom: 1px solid #BDBDBD;
}

th {
	padding: 2px;
	font-size: 20px;
	text-shadow: 2px, 2px, 2px, #ffffff;
}



tr {
	height: 70px;
}

/* under_bar : 후원가이드, 1:1문의, 전화문의가 들어간 div */

.under_bar {
	margin-left: 40px;
}
.under_bar div {
	border: 1px solid #BDBDBD;
	padding: 20px;
	margin-top: 50px;
	margin-right: 40px;
	width: 25%;
	height: 60px;
	display: inline-block;
	margin-bottom: 50px;
}

.under_bar div img {
	float: left;
	padding-right: 20px;
}

.under_bar div p {
	font-size: 13px;
}

.under_bar div h3 {
	margin: 0;
	padding-bottom: 10px;
}

.under_bar div a img {
	float: right;
	margin-top: -35px;
	margin-right: -20px;
}
.ub:hover {
	border: 1px solid red;
}

.ub.first {
	cursor: pointer;
}

.ub.second {
	cursor: pointer;
}

body {
	margin : 0;
}


#add {
	width: 100px;
	height: 40px;
}

.q-row {
	cursor: pointer;
}

.a-row {
	background-color: #EAEAEA;
	
}
.col1 {
	width: 150px;
}
.col2 {
	width: 800px;
} 

.a-wrap {
	padding: 10px 20px;
	float: left;
	height: 100%;
}
.a-contents {
	padding: 10px 0;
}
textarea {
	background-color: #EAEAEA;
	border: 1px solid #EAEAEA;
	resize: none;
	height: 150px;
}
textarea:focus {
	outline: none;
}
