@charset "EUC-KR";

* {
	margin: 0;
	padding: 0;
	font-family: "나눔스퀘어";
	list-style: none;
	text-decoration: none;
}

.navi_menu_div{
	background-color: white;
	display: block;
	border: 1px solid #cbcbca;
	width: 1920px;
	height: 80px;
	position: fixed;
	z-index: 1000;


}
.navi_logo_div {
	float: left;
}

.navi_menu_icon_div {
	float: left;


}

.list_ul {
	margin-left: 200px;
}

.list_li {
	display: block;
	margin-left: 130px;
	float: left;
	list-style-type: none;
	text-align: center;
	text-decoration: none;
	color: black;
	font-size: 20px;
	margin-top: 18px;
	font-weight: 600;
	height: 52px;
	width: 80px;
}

.list_div {
	float: left;
	display: block;
	margin-top: 10px;
}



.list_hide_div {
	background-color: #f6f6f6;
	box-shadow: black;
	height: 200px;
	width: 1920px;
	margin-top: 0.5px;
    font-size: 14px;
   	top:81px;
    position: fixed;
    z-index: 1000;
}



.support_btn_div {
	float: right;
	width: 10%;
	height: 80px;
	background-color: #4364ae;
	text-align: center;
}

#navi_logo{
	margin-left: 100px;
	height: 70px;
	display: block;
}

#navi_menu_icon {
	margin-left: 310px;
	margin-top: -5px;
	float: left;
	height: 80px;

}

#support_btn {
	margin-top: 25px;
	color: white;
	background-color: #4364ae;
	border: 0;
	font-size: 20px;
	margin-left: -3px;

}

.list_hide1 {
	float: left;
	margin-top: 20px;
	margin-left:536px;
	text-align: center;

	width: 180px;
	height: 100px;
}

.list_hide2 {
	float: left;
	margin-top: 20px;
	text-align: center;
	margin-left:35px;
	width: 180px;
	height: 100px;
}

.list_hide3 {
	float: left;
	margin-top: 20px;
	text-align: center;
	margin-left:20px;
	width: 200px;
	height: 100px;
}

.list_hide4 {
	float: left;
	margin-top: 20px;
	text-align: center;
	margin-left:10px;
	width: 200px;
	height: 100px;
}
.hide_li{
	margin-bottom: 20px;

}
.navi_a{
	font-size: 20px;

	color: black;
}
.navi_hide_a{
	color: black;
}
#loginOK_c{
	margin-top:30px;
	margin-left:90px;
	display: block;
	font-size: 16px;
	float:left;
	color: black;
}
.plusbtn{

	margin-left:10px;
	margin-top:24px;
	float:left;
}
#mypagebtn{
	width: 75px;
	margin-left:2px;
	height: 30px;
	background-color: #4063ae;
	color: white;
	border-style: none;

}
#logoutbtn{
	width: 75px;
	height: 30px;
	background-color: #4063ae;
	color: white;
	border-style: none;

}